#root {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	padding: 2rem;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 40rem;
	text-align: justify;
}

.fieldContainer {
	position: relative;
	margin: 0;
	border-bottom: 1px solid #999;
	margin-bottom: 2rem;
}

.input {
	width: 100%;
	position: relative;
	border: none;
	outline: none;
	height: 4rem;
	font-size: 2rem;
	padding: 0;
}

label {
	position: absolute;
	top: 0.5rem;
	left: 0;
	font-size: 2rem;
	transition: font-size 200ms ease, top 200ms ease;
}

.error {
	position: absolute;
	color: red;
	left: 0;
	bottom: -1.5rem;
	transition: opacity 200ms ease;
}

.hiddenError {
	opacity: 0;
}

/* Make placeholder invisible, we need it to :not(:placeholder-shown) selector work  */
.input::placeholder {
	opacity: 0;
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
	font-size: 1rem;
	top: -1rem;
}

.button {
	font-size: 2rem;
	margin-top: 0.5rem;
}
