#root {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	padding: 2rem;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 40rem;
	text-align: justify;
}

.fieldContainer {
	display: flex;
	align-items: center;
	margin: 0;
	border-bottom: 1px solid #999;
	margin-bottom: 3rem;
}

.field {
	position: relative;
	padding-right: 3rem;
}

.icon {
	width: 1.4rem;
	height: 1.4rem;
	min-width: 1.4rem;
	min-height: 1.4rem;
	margin-right: 0.7rem;
}

.iconEye {
	position: absolute;
	right: 0;
	top: 1rem;
	cursor: pointer;
	margin-right: 0;
}

.iconSpinner {
	position: absolute;
	left: -3rem;
	top: 0.5rem;
	animation: rotate 1s infinite linear;
	stroke: currentColor;
}

.input {
	width: 100%;
	position: relative;
	border: none;
	outline: none;
	height: 3rem;
	font-size: 1.5rem;
	padding: 0;
}

label {
	position: absolute;
	top: 0.5rem;
	left: 0;
	font-size: 1.5rem;
	transition: font-size 200ms ease, top 200ms ease, left 200ms ease;
	color: #666;
}

.error {
	position: absolute;
	color: red;
	left: -2rem;
	bottom: -1.5rem;
	transition: opacity 200ms ease;
}

.hiddenError {
	opacity: 0;
}

/* Make placeholder invisible, we need it to :not(:placeholder-shown) selector work  */
.input::placeholder {
	opacity: 0;
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
	font-size: 1rem;
	top: -1rem;
	left: -2rem;
}

.button {
	font-size: 2rem;
	margin-top: 0.5rem;
}

.buttonContent {
	display: flex;
	justify-content: center;
}

.buttonText {
	position: relative;
}

@media (min-width: 768px) {
	.icon {
		width: 2rem;
		height: 2rem;
		min-width: 2rem;
		min-height: 2rem;
		margin-right: 1rem;
	}

	.input {
		height: 4rem;
		font-size: 2rem;
	}

	.label {
		font-size: 2rem;
	}

	.error {
		left: -3rem;
	}

	.input:focus + label,
	.input:not(:placeholder-shown) + label {
		left: -3rem;
	}
}

@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
